#gallery {
    margin-left: 3%;
    margin-right: 3%;
    line-height:0;
    -webkit-column-count:3; /* split it into 5 columns */
    -webkit-column-gap:1%; /* give it a 5px gap between columns */
    -moz-column-count:3;
    -moz-column-gap:1%;
    column-count:3;
    column-gap:1%;
 }



 
 #gallery img {
  width: 100% !important;
  height: auto !important;
  margin-bottom:3%; /* to match column gap */


  filter: grayscale(100%);
}

#gallery img:hover {
filter:none;
;
}



@media (max-width: 1000px) {
#gallery {
-moz-column-count:    3;
-webkit-column-count: 3;
column-count:         3;
}
}

@media (max-width: 800px) {
#gallery {
-moz-column-count:    2;
-webkit-column-count: 2;
column-count:         2;
}
}

@media (max-width: 400px) {
#gallery {
-moz-column-count:    1;
-webkit-column-count: 1;
column-count:         1;
}
}